extends layout.pug

block content        
  // Donate Modal
  mixin form-row(label, value)
    .row(style='border-bottom: 1px dotted green')    
      label.col-sm-4= label+':'
      .col-sm-8= value
  
  mixin basebody(baseinfo)
    .card-body
      +form-row('Name', baseinfo.name)
      +form-row('Age', baseinfo.age)
      +form-row('Sex', baseinfo.sex?"Female": "Male")
      +form-row('When was your last donation?', baseinfo.lst_donation)  
      +form-row('Any existing health condition?', baseinfo.health_condition)                    
      +form-row('Have you had alcohol for any sort in the last 24 hours?', baseinfo.had_alcohol)
      +form-row('Have you had a cleaning or a filling in the last 24 hours or dental surgery in the last 72 hours?', baseinfo.dental)
      +form-row('Have you been pregnant or had a baby in the last 6 months?', baseinfo.pregnant)
      +form-row('Are you taking prescription medications? If so what?', baseinfo.medication)
      +form-row('Have you had any tattoos or body piercing in the last four months?', baseinfo.tattoo)
      +form-row('Do you weigh less than 7 stone 12 lbs (less than 50kgs) or more than 20 stone 6 lbs (130kgs)?', baseinfo.weight)
      +form-row('Today or in the last 2 weeks have you had any illness or injury, e.g. a cough, a cold, a sore throat, vomiting, diarrhoea or an open wound?', baseinfo.illness)
      +form-row('Have you had any medical tests or investigations in the last 4 months or since your last donation?', baseinfo.investigation)
      +form-row('are you LOW IN IRON?', baseinfo.iron)
      +form-row('do you HAVE A SERIOUS HEART CONDITION?', baseinfo.heart)
      +form-row('have you been OVERSEAS IN THE 4 MONTHS BEFORE YOUR DONATION?', baseinfo.oversea)
  
  mixin askbody(askedinfo)
    .card-body
      +form-row('Is there anything special you need to ask the doctor before donating?', askedinfo.asking)
      +form-row('Any special needle requests? Tell the doctor!', askedinfo.needle)
      +form-row('Any questions regarding the donor selection process?', askedinfo.donor)  
      +form-row('Preferable date/ time for donation.', askedinfo.donationDate)                    
      +form-row('What to share anything personal with the doctor?', askedinfo.share)
  mixin checkbody(checkInfo)
    .card-body
      +form-row('glucose',        checkInfo.glucose + ' (mg/dL)')
      +form-row('bun',            checkInfo.bun + ' (mg/dL)')
      +form-row('creatinine',     checkInfo.creatinine/100 + ' (mg/dL)')
      +form-row('glom',           parseInt(checkInfo.glom)? ' <59 (mL/min/1.73)': ' >59 (mL/min/1.73)')
      +form-row('african',        parseInt(checkInfo.african)? ' <59 (mL/min/1.73)': ' >59 (mL/min/1.73)')
      +form-row('bun_creatinine', checkInfo.bun_creatinine)
      +form-row('sodium',         checkInfo.sodium + ' (mmol/L)')
      +form-row('potassium',      checkInfo.potassium + ' (mmol/L)')
      +form-row('chloride',       checkInfo.chloride + ' (mmol/L)')
      +form-row('carbon',         checkInfo.carbon + ' (mmol/L)')
      +form-row('calcium',        checkInfo.calcium/100 + ' (mg/dL)')
      +form-row('protein',        checkInfo.protein/100 + ' (g/dL)')
      +form-row('albumin',        checkInfo.albumin/100 + ' (g/dL)')
      +form-row('ag',             checkInfo.ag/100 )
      +form-row('bilirubin',      checkInfo.bilirubin/100 + ' (mg/dL)')
      +form-row('alkaline',       checkInfo.alkaline + ' (IU/L)')
      +form-row('ast',            checkInfo.ast + ' (IU/L)')
      +form-row('alt_sgpt',       checkInfo.alt_sgpt + ' (IU/L)')
      +form-row('tsh',            checkInfo.tsh + ' (uIU/mL)')
      +form-row('white',          checkInfo.white/100 + ' (x10E3/uL)')
      +form-row('red',            checkInfo.red + ' (x10E6/uL)')
      +form-row('hemoglobin',     checkInfo.hemoglobin/100 + ' (g/dL)')
      +form-row('hematocrit',     checkInfo.hematocrit/100 + ' %')
      +form-row('mcv',            checkInfo.mcv + ' fL')
      +form-row('mch',            checkInfo.mch/10 + ' pg')
      +form-row('mchc',           checkInfo.mchc/10 + ' g/dL')
      +form-row('rdw',            checkInfo.rdw/10 + ' %')
      +form-row('platelets',      checkInfo.platelets + ' g/dL')
      +form-row('neutrophils',    checkInfo.neutrophils + ' %')
      +form-row('lymphs',         checkInfo.lymphs + ' fL')
      +form-row('monocytes',      checkInfo.monocytes + ' %')
      +form-row('eos',            checkInfo.eos + ' %')
      +form-row('basos',          checkInfo.basos + ' %')
      +form-row('neutrophils_abs', checkInfo.neutrophils_abs/10 + ' (x10E3/uL)')
  
  .card.bg-info.o-hidden.h100
    .card-header.bg-primary
      .float-left
        h3(style="color:white")= 'Donation: ' + baseinfo.id
      .float-right
        if baseinfo.status==0
          button.btn.btn-success(onclick=`send(${baseinfo.id})`, type='button', style="margin-right:25px") Submit to Doctor
        else if baseinfo.status==2
          button.btn.btn-success(onclick=`checkbody(${baseinfo.id})`, type='button', style="margin-right:25px") Submit to Checkbody
        
    .card-body
      .row
        if askedinfo || checkbodyinfo
          .col-lg-6.col-sm-6
            .card.o-hidden.h100
              .card-header User's Information          
              +basebody(baseinfo)
          .col-lg-6.col-sm-6
            if (askedinfo)
              .row
                .col-lg-12.col-sm-12
                  .card.o-hidden.h100
                    .card-header Submitted Information          
                    +askbody(askedinfo)
            if (checkbodyinfo)
              .row(style="margin-top: 20px;")
                .col-lg-12.col-sm-12
                  .card.o-hidden.h100
                    .card-header Checked Body Information          
                    +checkbody(checkbodyinfo)
        else
          .col-lg-12.col-sm-12
            .card.o-hidden.h100
              .card-header User's Information          
              +basebody(baseinfo)

  include includes/modals/doctor.pug
  include includes/modals/checkbody.pug            